.button {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    position: relative;
    background: var(--text);
    color: var(--background);
    box-shadow: 0 2px 0 #c6c2bf;
    border: 0.2rem solid var(--text);
    transition-property: background, border-color;
    transition-duration: 0.2s;

    &:hover,
    &:hover:focus {
        top: -1px;
        background: var(--lt-ebony);
        color: var(--background);
        border-color: var(--lt-ebony);
        box-shadow: 0 3px 0 #c6c2bf;
    }

    &:focus {
        outline: 0.25rem solid orange;
        background: var(--background);
        color: var(--text);
    }

    &:focus:hover {
        outline: none;
    }

    &:active,
    &:active:focus,
    &:active:hover {
        background: var(--dk-ebony);
        border-color: var(--dk-ebony);
        color: var(--background);
        top: 1px;
        box-shadow: 0 0;
        outline: none;
        transition-duration: 0s;
    }
}

.buttonGhost {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    position: relative;
    border: 0.2rem solid var(--text);
    border-color: var(--text);
    background: var(--background);
    color: var(--text);
    transition-property: background, border-color;
    transition-duration: 0.2s;

    &:hover {
        background: var(--text);
        color: var(--background);
    }

    &:focus {
        outline: 0.25rem solid orange;
    }

    &:focus:hover {
        outline: none;
    }

    &:active,
    &:active:focus,
    &:active:hover {
        background: var(--dk-ebony);
        border-color: var(--dk-ebony);
        transition-duration: 0s;
    }

    &.green,
    &.green:focus,
    &.green:hover {
        color: var(--text);
        background: var(--ok-green);
    }
}
