.footer {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    background: var(--dark);
}

.footerContent {
    max-width: 60rem;
    margin: 0 auto;
}

.link {
    color: var(--honeydew);
}
