.footer {
    box-sizing: border-box;
    width: 100%;
    background: var(--dark);
}

.footerContent {
    box-sizing: border-box;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;

    .link {
        color: var(--honeydew);
    }

    @media (min-width: 500px) {
        padding: 2rem 1rem;
    }
}
