.footer {
    box-sizing: border-box;
    width: 100%;
    background: var(--text);
}

.footerContent {
    box-sizing: border-box;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 500px) {
        padding: 2rem 1rem;
    }
}

.link {
    color: var(--background);
}

:global .dark-mode {
    :local .footer {
        background: var(--background-dark);
        color: var(--text-light);
        border-top: 0.25rem solid var(--text-light);
    }
}
