.generateMultipleFnrs {
    .title {
        font-weight: normal;
        font-size: 1.5rem;
    }

    .numberOfFnrs {
        margin: 1rem 0;
        display: flex;
        align-items: center;

        input {
            width: 5rem;
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }

    .radioTitle {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }

    .checkboxWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        input {
            margin-left: 1rem;
        }
    }

    .generateButton {
        margin-top: 1rem;
    }

    @media (min-width: 700px) {
        .title {
            margin-top: 0;
        }

        .numberOfFnrs,
        .checkboxWrapper {
            justify-content: space-between;
            width: 15rem;
        }
    }
}
