:root {
    --dark: #303228; /* Original: #5f634f   */
    --lt-ebony: #6f7361;
    --dk-ebony: #4c4f3f;
    --lt-blue: #9bc4cb;
    --honeydew: #cfebdf;
    --nyanza: #e2fadb;
    --tea-green: #dbefbc;

    --ok-green: #34fa38;

    --background-light: var(--honeydew);
    --text-dark: var(--dark);
    --background-dark: var(--dark);
    --text-light: var(--honeydew);

    --background: var(--background-light);
    --text: var(--text-dark);

    --desktop: 700px;

    .dark-mode {
        --background: var(--background-dark);
        --text: var(--text-light);
    }
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background);
    color: var(--text);
}
