:root {
    --dark: #303228; /* Original: #5f634f   */
    --lt-ebony: #6f7361;
    --dk-ebony: #4c4f3f;
    --lt-blue: #9bc4cb;
    --honeydew: #cfebdf;
    --nyanza: #e2fadb;
    --tea-green: #dbefbc;

    --ok-green: #34fa38;

    --desktop: 700px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--honeydew);
    color: var(--dark);
}
