.banner {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;

    &__wrapper {
        background: var(--dark);
        color: var(--honeydew);
        font-weight: bold;
        margin-top: 0;
    }

    @media (min-width: 500px) {
        padding: 2rem 1rem;
    }
}
