.introText {
    margin-bottom: 2rem;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;

    + .buttonWrapper {
        margin-top: 1rem;
    }
}

.panelLink + .panelLink {
    margin-top: 1rem;
}

@media (min-width: 800px) {
    .buttonWrapper {
        flex-direction: row;
        justify-content: space-between;

        + .buttonWrapper {
            margin-top: 2rem;
        }
    }

    .panelLink + .panelLink {
        margin-top: 0;
        margin-left: 2rem;
    }

    .panelLink {
        text-align: center;
        flex-basis: 0;
        flex-grow: 1;
    }
}
